*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: lime;
	background: #232524;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
}
.clock{
    width: 1000px;
    height: 250px;
	border: 2px solid grey;
	font-size: 200px;
	text-align: center;;
	padding: 10px;
    border-radius: 10px;
}